src/main/xsd/Sample1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="subject">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="country" type="xs:string" />
                <xs:element maxOccurs="unbounded" name="credentials">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:element name="key" type="xs:string" />
                            <xs:element name="value" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="language" type="xs:string" />
                <xs:element name="principals">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="key" type="xs:string" />
                            <xs:element name="value" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="method" type="xs:unsignedByte" />
</xs:schema>